body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.product-image {
  max-width: 100%;
}

.product-content {
}

.product-title {
}

.product-price {
}

.fake-canvas-container canvas {
  max-width: 25vw;
  max-height: 33vh;
}